.icon-row {
    display: flex;
    gap: 0.66em;
    padding: 0.1em 0.5em;
    border: 1px solid var(--c-main);
    border-radius: 34px;
}

.icon-row a {
    cursor: pointer;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-row a[aria-disabled="true"] {
    cursor: unset;
    box-shadow: 0px 0px 4px 3px var(--c-accent-70);
}