.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.toggle svg {
    height: 16px;
    width: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    width: 38px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid var(--c-main);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 1px;
    border: 1px solid var(--c-main);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px) rotate(90deg);
}