:root {
  --header-h: 8vh;
  --footer-h: 5vh;

  --c-accent: #ff6347;
}

/*CSS RESET*/

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

/*HIDING SCROLLBARS*/
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: light dark;
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --c-bg: black;
  --c-main: white;
  --c-glass: rgba(0,0,0, 0.6);
}

:root[data-theme="light"] {
  color-scheme: light;
  --c-bg: white;
  --c-main: black;
  --c-glass: rgba(255,255,255, 0.6);
}

:root[data-color="#4361ee"] {
  --c-accent: #4361ee;
  --c-accent-70: #4361ee70;
}

:root[data-color="#2a9d8f"] {
  --c-accent: #2a9d8f;
  --c-accent-70: #2a9d8f70;
}

:root[data-color="#8cb369"] {
  --c-accent: #8cb369;
  --c-accent-70: #8cb36970;
}

:root[data-color="#f4a261"] {
  --c-accent: #f4a261;
  --c-accent-70: #f4a26170;
}

:root[data-color="#ff6347"] {
  --c-accent: #ff6347;
  --c-accent-70: #ff634770;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  height: var(--header-h);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c-glass);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0 1em;
  z-index: 4;
  transition: transform .4s ease-in;
}

:root[data-set="true"] header {
  background-color: transparent;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  transition: background-color .4s ease-out;
}

header > a > svg {
  height: 5vh;
  width: 5vh;
}

header > a:hover > svg {
  transform: scale(1.04);
}

header > a > svg > g > g[id] {
  transform-origin: bottom;
  fill: var(--c-bg);
}

:root[data-nav="true"] g#fan-1 {
  transform: rotate(29deg) translateY(4px) translateX(-2px);
  transition: transform 420ms ease-in;
}
  
:root[data-nav="true"] g#fan-2 {
  transform: rotate(30deg) translateY(4px) translateX(-2px);
  transition: transform 360ms ease-in;
}
  
:root[data-nav="true"] g#fan-3 {
  transform: rotate(22deg) translateY(3px) translateX(-1px);
  transition: transform 300ms ease-in;
}
  
:root[data-nav="true"] g#fan-4 {
  transform: rotate(7deg) translateY(1px);
  transition: transform 240ms ease-in;
}
  
:root[data-nav="true"] g#fan-5 {
  fill: var(--c-accent);
  transform: rotate(0deg);
  transition: color transform 180ms ease-in;
}

:root[data-nav="true"] .nav-button:active > svg > g > g#fan-5 {
  fill: var(--c-accent);
  transform: rotate(0deg);
  transition: color transform 180ms ease-in;
}
  
:root:not([data-nav="true"]) g#fan-1, .nav-button:not(:hover) > svg > g > g#fan-1 {
  transform: rotate(0deg) translateY(0) translateX(0);
  transition: transform 420ms ease-out 0ms;
}
  
:root:not([data-nav="true"]) g#fan-2, .nav-button:not(:hover) > svg > g > g#fan-2 {
  transform: rotate(0deg) translateY(0) translateX(0);
  transition: transform 360ms ease-out 60ms;
}
  
:root:not([data-nav="true"]) g#fan-3, .nav-button:not(:hover) > svg > g > g#fan-3 {
  transform: rotate(0deg) translateY(0) translateX(0);
  transition: transform 300ms ease-out 120ms;
}
  
:root:not([data-nav="true"]) g#fan-4, .nav-button:not(:hover) > svg > g > g#fan-4 {
  transform: rotate(0deg) translateY(0) translateX(0);
  transition: transform 240ms ease-out 180ms;
}
  
:root:not([data-nav="true"]) g#fan-5, .nav-button:not(:hover) > svg > g > g#fan-5 {
  transform: rotate(0deg);
  transition: transform 180ms ease-out 240ms;
}

#topball, #midball, #botball {
  fill: var(--c-bg);
}

:root[data-set="true"] #botball {
  transform: translateX(0.66vh);
  transition: transform .4s ease-in;
}

:root[data-set="true"] #midball {
  transform: translateX(-0.66vh);
  transition: transform .4s ease-in;
}

:root[data-set="true"] #topball {
  transform: translateX(0.66vh);
  transition: transform .4s ease-in;
}

:root[data-set="false"] #botball {
  transform: translateX(0);
  transition: transform .4s ease-in;
}

:root[data-set="false"] #midball {
  transform: translateX(0);
  transition: transform .4s ease-in;
}

:root[data-set="false"] #topball {
  transform: translateX(0);
  transition: transform .4s ease-in;
}

nav {
  height: 7vh;
  position: relative;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: max(3vw, 0.66em);
  opacity: 1;
  transition: transform .4s ease-in;
  z-index: 5;
}

:root[data-nav="false"] nav {
  transform: translateY(-44vh);
  transition: transform .4s ease-out;
}

nav > a {
  font-family: '__Inter_36bd41', sans-serif;
  font-weight: 400;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
  opacity: 0.9;
  font-size: max(0.66vw, 0.455em);
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding: 0 1em;
}

nav > a:hover {
  border-bottom: 1px solid var(--c-main);
}

nav > a:active {
  border-bottom: 1px solid var(--c-main);
}

nav > a[aria-disabled="true"] {
  opacity: 0.6;
  border-bottom: 1px solid var(--c-main);
  cursor: unset;
}

a:hover:not([aria-disabled="true"]), a:focus-visible {
  opacity: 1;
}

.settings {
  height: 16vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  transform: translateY(-44vh);
  padding: 0.5em 1em;
  opacity: 1;
  z-index: 3;
  gap: max(3vw, 0.66em);
  background-color: var(--c-glass);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: transform .4s ease-in;
}

:root[data-set="true"] .settings {
  transform: translateY(0);
  transition: transform .4s ease-out;
}

main {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

main > section {
  min-height: 100vh;
  width: 100vw;
  padding: 0 1em;
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5 {
  text-wrap: balance;
}

h1 {
  font-size: 8vw;
  font-weight: 900;
  line-height: 1.05;
  text-transform: uppercase;
  text-align: center;
}

h1:nth-child(3) {
  font-size: 16vw;
  line-height: 1.1;
}

h1 > span, h2 > span {
  color: var(--c-accent);
}

h2 {
  font-size: max(7vw, 1em);
  font-weight: 800;
  text-align: center;
}

p, figcaption, li {
  max-width: 70ch;
}

p {
  font-size: max(1.125vw, 12px);
  font-weight: 300;
  line-height: 1.77778;
  overflow-wrap: normal;
}

button {
  cursor: pointer;
  line-break: strict;
  text-transform: uppercase;
  font-weight: 800;
  padding: 1.5em 3em;
  border-radius: 34px;
  margin: 0 auto;
  background-color: var(--c-accent);
}

footer {
  height: var(--footer-h);
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  list-style-type: none;
  z-index: 4;
  background-color: var(--c-glass);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.66em;
  font-family: '__Inter_36bd41', sans-serif;
  font-weight: 400;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
  opacity: 0.9;
  font-size: max(0.66vw, 0.455em);
}

footer svg {
  height: 20px;
  width: 20px;
}