:root {
  --header-h: 8vh;
  --footer-h: 5vh;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  height: var(--header-h);
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

header > a > svg {
  height: 5vh;
  width: 5vh;
}

header > a > svg > g > g[id] {
  transform-origin: bottom;
  fill: white;
}

#topball, #midball, #botball {
  fill: white;
}

main {
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
}

footer {
  height: var(--footer-h);
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  list-style-type: none;
  z-index: 4;
}

footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: max(0.25vw, 0.3em);
}

footer svg {
  height: 20px;
  width: 20px;
}