:root {
  --header-h: 8vh;
  --footer-h: 5vh;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  height: var(--header-h);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0 1em;
}

header > a > svg {
  height: 5vh;
  width: 5vh;
}

header > a:hover > svg {
  transform: scale(1.04);
}

header > a > svg > g > g[id] {
  transform-origin: bottom;
  fill: white;
}

:root[data-nav="true"] g#fan-1 {
  transform: rotate(29deg) translateY(4px) translateX(-2px);
  transition: transform 420ms ease-in;
}
  
:root[data-nav="true"] g#fan-2 {
  transform: rotate(30deg) translateY(4px) translateX(-2px);
  transition: transform 360ms ease-in;
}
  
:root[data-nav="true"] g#fan-3 {
  transform: rotate(22deg) translateY(3px) translateX(-1px);
  transition: transform 300ms ease-in;
}
  
:root[data-nav="true"] g#fan-4 {
  transform: rotate(7deg) translateY(1px);
  transition: transform 240ms ease-in;
}
  
:root[data-nav="true"] g#fan-5 {
  fill: tomato;
  transform: rotate(0deg);
  transition: color transform 180ms ease-in;
}

:root[data-nav="true"] .nav-button:active > svg > g > g#fan-5 {
  fill: tomato;
  transform: rotate(0deg);
  transition: color transform 180ms ease-in;
}
  
:root:not([data-nav="true"]) g#fan-1, .nav-button:not(:hover) > svg > g > g#fan-1 {
  transform: rotate(0deg) translateY(0) translateX(0);
  transition: transform 420ms ease-out 0ms;
}
  
:root:not([data-nav="true"]) g#fan-2, .nav-button:not(:hover) > svg > g > g#fan-2 {
  transform: rotate(0deg) translateY(0) translateX(0);
  transition: transform 360ms ease-out 60ms;
}
  
:root:not([data-nav="true"]) g#fan-3, .nav-button:not(:hover) > svg > g > g#fan-3 {
  transform: rotate(0deg) translateY(0) translateX(0);
  transition: transform 300ms ease-out 120ms;
}
  
:root:not([data-nav="true"]) g#fan-4, .nav-button:not(:hover) > svg > g > g#fan-4 {
  transform: rotate(0deg) translateY(0) translateX(0);
  transition: transform 240ms ease-out 180ms;
}
  
:root:not([data-nav="true"]) g#fan-5, .nav-button:not(:hover) > svg > g > g#fan-5 {
  transform: rotate(0deg);
  transition: transform 180ms ease-out 240ms;
}

#topball, #midball, #botball {
  fill: white;
}

:root[data-set="true"] #botball {
  transform: translateX(0.66vh);
  transition: transform .4s ease-in;
}

:root[data-set="true"] #midball {
  transform: translateX(-0.66vh);
  transition: transform .4s ease-in;
}

:root[data-set="true"] #topball {
  transform: translateX(0.66vh);
  transition: transform .4s ease-in;
}

:root[data-set="false"] #botball {
  transform: translateX(0);
  transition: transform .4s ease-in;
}

:root[data-set="false"] #midball {
  transform: translateX(0);
  transition: transform .4s ease-in;
}

:root[data-set="false"] #topball {
  transform: translateX(0);
  transition: transform .4s ease-in;
}

nav {
  height: 7vh;
  position: relative;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: max(3vw, 0.66em);
  opacity: 1;
  transition: transform .4s ease-in;
  z-index: 4;
}

:root[data-nav="false"] nav {
  transform: translateY(-44vh);
  transition: transform .6s ease-out;
}

nav > a {
  font-family: '__Inter_36bd41', sans-serif;
  font-weight: 400;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
  opacity: 0.9;
  font-size: max(0.66vw, 0.455em);
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding: 0 1em;
}

nav > a:hover {
  border-bottom: 1px solid black;
}

nav > a:active {
  border-bottom: 1px solid black;
}

nav > a[aria-disabled="true"] {
  opacity: 0.6;
  border-bottom: 1px solid black;
  cursor: unset;
}

a:hover:not([aria-disabled="true"]), a:focus-visible {
  opacity: 1;
}

.settings {
  height: 16vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-44vh);
  opacity: 1;
  transition: transform .4s ease-in;
  z-index: 4;
  gap: max(3vw, 0.66em);
  border: 1px solid black;
}

:root[data-set="true"] .settings {
  transform: translateY(0);
  transition: transform .6s ease-out;
}

main {
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
}

footer {
  height: var(--footer-h);
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  list-style-type: none;
  z-index: 4;
}


footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.66em;
  font-family: '__Inter_36bd41', sans-serif;
  font-weight: 400;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
  opacity: 0.9;
  font-size: max(0.66vw, 0.455em);
}

footer svg {
  height: 20px;
  width: 20px;
}