main {
    padding-top: 10vh;
    height: fit-content;
}

main > section {
    justify-content: start;
}

form {
    width: max(30vw, 300px);
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
}

form > div {
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    position: relative;
    top: 2em;
    left: 0.5em;
    background-color: black;
    width: fit-content;
    padding: 0 0.3em;
    font-size: 0.8em;
    font-weight: 800;
}

input, textarea, select {
    max-width: 100%;
    border: 1px solid var(--c-main);
    padding: 1em 0.5em 0.5em;
    border-radius: 5px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

legend {
    text-align: center;
    font-weight: 800;
}

legend, label {
    text-transform: uppercase;
    letter-spacing: 0.225rem;
}

input, textarea {
    border: 1px solid var(--c-main);
}
  
input:-ms-input-placeholder, input::-webkit-input-placeholder, textarea:-ms-input-placeholder, textarea::-webkit-input-placeholder {
    border: 1px solid var(--c-main);
}

input:-internal-autofill-selected {
    border: 1px solid greenyellow;
}

input:-internal-autofill-selected:focus, input:-internal-autofill-selected:active {
    border: 1px solid greenyellow;
}

input:focus, textarea:focus, input:active, textarea:active {
    border: 1px solid var(--c-main);
}
  
input:user-valid, textarea:user-valid, select:user-valid {
    border: 1px solid greenyellow;
}

input:user-invalid, textarea:user-invalid, select:user-invalid {
    border: 1px solid tomato;
}

textarea {
    resize: none;
    min-height: 10vh;
    width: 100%;
}