main {
    padding-top: 10vh;
    height: fit-content;
}

main > section {
    justify-content: start;
}

form {
    width: max(30vw, 300px);
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
}

form > div {
    display: flex;
    flex-direction: column;
    position: relative;
}

label[for] {
    position: relative;
    top: 2em;
    left: 0.5em;
    background-color: var(--c-offbg);
    width: fit-content;
    padding: 0 0.3em;
    font-size: 0.8em;
    font-weight: 400;
    color: var(--c-main);
}

input, textarea, select {
    max-width: 100%;
    border: 1px solid var(--c-main);
    padding: 1em;
    border-radius: 5px;
    font-family: '__Inter_36bd41', sans-serif;
    font-weight: 200;
    letter-spacing: 0.125rem;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

legend {
    text-align: center;
    font-weight: 800;
}

legend, label[for] {
    text-transform: uppercase;
    letter-spacing: 0.225rem;
}

input, textarea {
    border: 3px solid transparent;
    background-color: var(--c-offbg);

}

textarea {
    resize: none;
    min-height: 10vh;
    width: 100%;
}

input[type=text]:focus-visible, textarea:focus-visible, input[type=email]:focus-visible {
    border: 3px solid var(--c-main);
    outline: none;
}

input[type=text]:user-invalid, textarea:user-invalid, input[type=email]:user-invalid {
    border: 3px solid tomato;
}